<h1>New addition</h1>

<form action="/wizard_add" method="get">
  <div>
    <label for="first_number">Add this:</label>
    <input type="text" name="first_number" id="first_number" placeholder="Enter the first number">
  </div>

  <div>
    <label for="second_number">to this: </label>
    <input type="text" name="second_number" id="second_number" placeholder="Enter the second number">
  </div>

  <button type="submit">Add!</button>
</form>
