<h1>New multiplication</h1>

<form action="/wizard_multiply" method="get">
  <div>
    <label for="first_number">Multiply this:</label>
    <input type="text" name="first_number" id="first_number" placeholder="Enter the first number">
  </div>

  <div>
    <label for="second_number">by this: </label>
    <input type="text" name="second_number" id="second_number" placeholder="Enter the second number">
  </div>

  <button type="submit">Multiply!</button>
</form>
